PIDFILE="{{ claymore_pidfile_path }}"
BINARY="{{ claymore_folder }}/ethdcrminer64"
ACCOUNT="-epool us1.ethermine.org:4444 -ewal {{ wallet_address }}.{{ miner_name }} -epsw x"
OPTIMIZATIONS="-mode 1 -ftime 10"
EMAIL="x"
GPU_FORCE_64BIT_PTR=1
GPU_MAX_HEAP_SIZE=100
GPU_USE_SYNC_OBJECTS=1
GPU_MAX_ALLOC_PERCENT=100
GPU_SINGLE_ALLOC_PERCENT=100