POOL: us1.ethermine.org:4444, WALLET: {{ wallet_address }}.{{ miner_name }}, PSW: x, WORKER: , ESM: 0, ALLPOOLS: 0
POOL: us2.ethermine.org:4444, WALLET: {{ wallet_address }}.{{ miner_name }}, PSW: x, WORKER: , ESM: 0, ALLPOOLS: 0
POOL: eu1.ethermine.org:4444, WALLET: {{ wallet_address }}.{{ miner_name }}, PSW: x, WORKER: , ESM: 0, ALLPOOLS: 0
POOL: asia1.ethermine.org:4444, WALLET: {{ wallet_address }}.{{ miner_name }}, PSW: x, WORKER: , ESM: 0, ALLPOOLS: 0