#!/bin/sh
export GPU_FORCE_64BIT_PTR=1
export GPU_MAX_HEAP_SIZE=100
export GPU_USE_SYNC_OBJECTS=1
export GPU_MAX_ALLOC_PERCENT=100
export GPU_SINGLE_ALLOC_PERCENT=100
./ethdcrminer64 -epool us1.ethermine.org:4444 -ewal {{ wallet_address }}.{{ miner_name }} -epsw x -mode 1 -ftime 10
